<nav id="mainNav" class="navbar navbar-default navbar-fixed-top backgreen">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <div class="animated-icon2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
            </button>

            <a class="navbar-brand page-scroll colorgrey" href="{{ site.baseurl}}{{site.data.locales[page.lang].homelink}}">FAB16</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                {% for menu in site.data.locales[page.lang].menu %}
                <li>
                    <a class="page-scroll {{ menu.class }}" href="{{ site.baseurl }}{{ menu.link }}">{{ menu.text }}</a>
                </li>
                {% endfor %}

                <li>
                    {% for block in site.data.map %}
                        {% for item in block[page.lang] %}
                            {% if item == page.path %}
                                {% for trans in block %}
                                    {% assign trans_path = trans[1] %}
                                    {% assign posts = site.posts | where:"path",trans_path %} 

                                    {% for item in posts %}
                                        {% if item.path == page.path %}
                                            <!--<a hreflang="{{item.lang}}" class="active" >{{site.data.locales[item.lang].title}}</a>-->
                                        {% else %}
                                            <a hreflang="{{item.lang}}" href="{{item.url|relative_url}}">{{site.data.locales[item.lang].title}}</a>
                                        {% endif %}
                                    {% endfor %}

                                    {% assign pages = site.pages | where:"path",trans_path %}

                                    {% for item in pages %}
                                        {% if item.path == page.path %}
                                            <!--<a hreflang="{{item.lang}}" class="active">{{site.data.locales[item.lang].title}}</a>-->
                                        {% else %}
                                            <a hreflang="{{item.lang}}" href="{{item.url|relative_url}}">{{site.data.locales[item.lang].title}}</a>
                                        {% endif %}
                                    {% endfor %}

                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
</nav>