<section id="venue">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <p class="traveltext {{ page.color_class }}">{{ site.data.venue[page.lang].text}}</p>
            </div>
            <div class="col-lg-8 text-right">
                <div style="width: 100%">
                    <iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=845%20Rue%20Sherbrooke%20Ouest%2C%20Montr%C3%A9al%2C%20Qu%C3%A9bec%2C%20Canada%2C%20H3A%200G4+(FAB16)&amp;ie=UTF8&amp;t=&amp;z=12&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                        <a href="https://www.maps.ie/coordinates.html">gps coordinates finder</a>
                    </iframe>
                </div>

                <!--<div id="googleMap" style="width:100%;height:700px;"></div>-->

            </div>
        </div>
        <br>
        <br>
        <br>

        <div class="row no-gutter comingsoon text-center pad10 backwhite">
            {{ site.data.venue[page.lang].comingsoon}}
        </div>

    </div>

    <!--<script>
        function myMap() {
            var mapProp= {
                center:new google.maps.LatLng(51.508742,-0.120850),
                zoom:5,
            };
            var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwOs2udMfagj2w3yt7RV9HakHiOBXz-9g&callback=myMap"></script>-->
</section>
