<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{% include head.html %}

<body id="page-top">

  {% include nav.html %}

  <div style="margin-top: 71px;">
    <div class="container-fluid">
      <section style="padding: 10px 0 0 0;">
        <div class="row">

          {% include page-header.html %}

        </div>

        <div class="row">

          {{ content }}

        </div>
      </section>
  </div>

  {% include call-to-action.html %}
  {% include contact.html %}
  {% include scripts.html %}
  {% if site.google_analytics %}
  {% include analytics.html %}
  {% endif %}
</body>

</html>